.componenteTienda{
    background: #f8c471;
    width: 50%;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 10px 5px rgba(1,1,1,0.3);
    box-shadow: 0 10px 10px 5px rgba(1,1,1,0.3);
    margin-left: 450px; 
    margin-bottom: 20px;
}

.Informacion{
    display: inline-block;
}

.iconos{
    display: inline-block;
}

.card{
    
    width: 40%;
    margin-left: 30%;
  }

.media{
    objectFit: 'cover',
  }

.botonComprar{
    text-align: center;
}