.App-intro {
    font-size: large;
  }

  @media only screen and (min-width: 768px) {
  .container-fluid>.container{
    margin-left: 15%;
    margin-top: 2%;
  }
  .registrar-section{
    border:1px solid #d8d8d8;
    padding: 3em 1em 2em;
  }
}